/* Variables */
$font-size: 14px;
$radius: 7px;
$ava-width: 32px;
$color-yellow: #FEED00;
$color-red: #EE241A;
$color-blue: #3A96D9;
$color-blue-light: #3EA0E8;
$color-alias: #FEED00;
$color-grey: #9B9B9B;
$color-grey-light: #EAEAEA;
