.reset-input {
  border: none;
  outline: none;
  background: none;
  color: inherit;
}

.input {
  border: none;
  outline: none;
  color: inherit;

  border-radius: $radius;
  background-color: $color-grey-light;
  padding: .75em 1em .9em;

  overflow-y: auto;
  max-height: 50vh;

  &--underline {
    border: none;
    background: none;
    outline: none;
    color: inherit;

    padding: .5em 0;
    width: 100%;

    border-bottom: 2px solid rgba(#fff, .5);
    border-radius: 0;

    &::placeholder {
      color: rgba(#fff, .5);
    }
  }
}

textarea {
  resize: none;
}

.btn {
	border: none;
  outline: none;

  background-color: $color-blue;
  color: #fff;
  border-radius: $radius;
  padding: .75rem 1.25rem .9rem;
  transition: all .2s;
  cursor: pointer;
  display: inline-block;

  &:hover {
    background-color: $color-blue-light;
  }

  &:disabled, &.is-disabled {
    background-color: $color-grey;
    cursor: not-allowed;
  }

  &.is-off {
    background-color: $color-grey;
  }

  &--outline {
    background-color: transparent;
    border: 1px solid;
    color: inherit;

    &:hover {
      background-color: $color-blue;
      color: #fff;
    }
  }
}

.btn-icon {
  display: inline-block;
  padding: 2px;
  border: 2px solid;
  text-align: center;
  border-radius: 2px;
}

[class^="btn"] {
  cursor: pointer;
}
