.room {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1;

	&-messages {
		display: flex;
		flex-direction: column-reverse;

		flex: 1;

		overflow: auto;

    background-color: #f5f5f5;

		padding: 1.15em;
	}

	&-actions {
		display: flex;
		flex-direction: row;
    align-items: flex-start;

		position: relative;

		padding: .75rem 1rem .9rem;
		border-top: 1px solid rgba(#000, .05);

		&-input {
			flex: 1;
		}

		&-send {
			margin-left: 1rem;
		}
	}
}

/* https://bugzilla.mozilla.org/show_bug.cgi?id=1042151 */
body:not(:-moz-handler-blocked) .room-messages {
	justify-content: flex-end;

	.messages {
		padding-bottom: 2em;
	}
}
