@import '../../styles/_common.css';

.navigation {
  max-width: 300px;
  background-color: #323D4D;
  color: white;
  transition: max-width .2s;
  display: flex;

  &_wrapper {
    padding: 1em;
  }

  @media (max-width: 580px) {
    position: absolute;
    z-index: 2;

    width: 100%;
    max-width: 100%;
    height: 100%;

    &--inRoom &_wrapper {
      padding-top: 4rem;
    }

    background-color: rgba(#323D4D, .95);
  }

  &-group {
    & + & {
      margin-top: 2em;
    }

    &-label {
      font-weight: bold;
      color: rgba(#fff, .5);
      margin-bottom: 1em;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    &-list {
      &-item {
        display: flex;
        justify-content: space-between;
        padding: .4em 1em;
        margin: 0 -1em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        transition: background-color .2s;

        a {
          flex-grow: 1;
        }

        &--active {
          background-color: $color-blue;
        }

        &:hover {
          background-color: rgba(#fff, .1);
        }
      }
    }
  }

  &--collapsed {
    max-width: 0;
  }
}
