@import '../../styles/_common.css';

.room-header {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .75em 1em .9em;
  color: $color-grey;
  border-bottom: 1px solid $color-grey-light;

  @media (max-width: 580px) {
    border-bottom-color: transparent;
  }

  &-bar  {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & + & {
      margin-left: 2em;
    }

    &-item + &-item {
      margin-left: 1em;
    }
  }
}
